:root {
    --primary-color: #372c57;
    --secondary-color: black;
    --text-color: rgba(255, 255, 255, 0.772);
    --font0: Arial, Helvetica, sans-serif;
    --font-color0: #319BED;
    --font-color1: #5D57D6;
    --font-color2: #B54B8D;
    --font-color3: #F34C5C;

}


body {
    font-family: var(--font0);
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: var(--text-color);
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.39);
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    padding: 20px;
}

nav ul li:hover{
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s;
}

.contacts:hover {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight:bold;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 45%);
    
}

a:hover {
    /*color: rgba(255, 255, 255, 0.5);*/
    background-image: -moz-linear-gradient
}

header img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 5px solid white
   
}

.center {
    text-align: center;
    margin-top: 15px;
}

p {
    text-indent: 10px;
    line-height:1.2rem;
}

.description-about {
    background-color: beige;
    color: #372c57;
    padding: 10px;
    border-radius: 15px;
    box-shadow: -5px -3px 5px rgba(228, 16, 93, 0.525);
    
}

.description-skills {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
    
}

/*.front-end {
        margin-top: 30px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px;
        background-color: var(--font-color2);
        border-radius: 5px;
        margin-right: 50px;
        border: 200px;
        margin-left: 300px;
        
}

.back-end {
    margin-top: 30px;
    background-color: var(--font-color1);
    color: #ffffff;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 100px;
    border-radius: 5px;
    border: 200px;  
   
} */

.container {
    display: flex;
}
.left {
    flex: 1;
    padding-right: 20px;
}
.right {
    flex: 1;
    padding-left: 20px;
}
h2 {
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
}

footer img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
   
    
}
footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin:20px;
    text-align: center;
}


