:root {
    --primary-color: #372c57;
    --secondary-color: black;
    --text-color: rgba(255, 255, 255, 0.772);
    --font0: Arial, Helvetica, sans-serif;
    --fontcolor0: #319BED;
    --fontcolor1: #5D57D6;
    --fontcolor2: #B54B8D;
    --fontcolor3: #F34C5C;

}


body {
    font-family: var(--font0);
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: var(--text-color);
    margin-left: 20px;
    margin-right: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    padding: 20px;
}

nav ul li:hover{
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s;
}

.contacts:hover {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight:bold;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 45%);
    
}

a:hover {
    /*color: rgba(255, 255, 255, 0.5);*/

}

img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 5px solid white
   
}

.center {
    text-align: center;
}

p {
    text-indent: 10px;
    line-height:1.2rem;
}

.description-about {
    background-color: beige;
    color: #372c57;
    padding: 10px;
    border-radius: 15px;
    box-shadow: -5px -3px 5px rgba(228, 16, 93, 0.525);
    
}
